* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #FFDE2A;
}

.gameArea {
    height: 645px;
    width: 600px;    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.gameCard {
    width: 140px;
    height: 150px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.gameCard:active {
    transform: scale(0.97);
    transition: transform 1s;
}

.gameCard.flip {
    transform: rotateY(180deg);
}

.cardFront,
.cardBack {
    border: 3px solid #75FFFF;
    border-radius:10px;
    width: 140px;
    height: 150px;
    padding: 0;
    position: absolute;    
    backface-visibility: hidden;
}

.cardFront {
    background-color: #f8f8ff;
}

.cardBack {
    background-color: #000;
}

.cardFront {
  transform: rotateY(180deg);
}