* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #FFDE2A;
}

.container-fluid {
    margin-top: 40px;
    padding: 0;
}

.grid {
    height: 860px;
    width: 860px;
    margin: auto;
    /*display: flex;
    flex-wrap: wrap;*/
}

.card {
    height: 150px;
    width: 150px;
    margin: 3px;
    position: relative;
}

.cardFront,
.cardBack {
    border: 3px solid #000;
    height: 100%;
    width: 100%;    
    padding: 0;
    position: absolute;
}

