* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFDE2A;
}

.col {
    max-height: 140px;
    max-width: 150px;
}

.gameGrid {
    border: chartreuse;
    margin: 15px auto;
    padding: -5px;
    perspective: 1000px;
}

.gameCard {    
    height: 150px;
    margin: 5px;
    padding: 0;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s;
    transform: scale(1);
}

.gameCard:active {
    transform: scale(.98);
    transition: transform .1s;
}

.gameCard.flip {
    transform: rotateY(180deg);
}

.cardFront,
.cardBack {
    backface-visibility: hidden;
    border: 3px solid #75FFFF;
    border-radius: 10px;
    color: white;
    position: absolute;
    text-align: center;
}

.cardFront {
    background-color: #f8f8ff;
    height: 100%;
    width: 100%;
    margin: auto;
    transform: rotateY(180deg);
}

.cardBack {
    background-color: #000;
    height: 100%;
    width: 100%;
    margin: auto;
}

img {
    height: 100%;
    width: 100%;
}

/* Media Queries */

@media (max-width: 576px) {
    .col {
        max-height: 120px;
        max-width: 120px;
    }
}